<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>笔记，实例在下面</h1>
<ul>
    <li>
        1. 双向数据绑定　感觉和angularjs很像呀　都是双花括号　. <a href="#app">戳我helloworld</a><br>
        <textarea name=""  cols="30" rows="10">
            １.插值        {{message}}
            2.双向数据绑定    v-model　指令　
            ３.渲染列表      v-for　  指令
            4.用户输入       v-on:click＝function　注册事件：事件名＝回调函数
            5.回调函数　传入this   函数名（$index）
            6.              v-if  大概就是判断　正确时显示dom
        </textarea>
    </li>
    <li>
        2. 组件. <a href="#app">戳我组件</a><br>
        <textarea name=""  cols="30" rows="10">
            １。每个Vue实例都会代理data里所有属性。。。
            ２。实例创建之后添加新的属性到实例上，它不会触发视图更新
            3.Vue实例方法　vm.$watch(x,callback(){}) //当x变化时　执行回调，
               实例方法/数据： 除了$watch  还有$get $set　$delete $eval $interpolate $log 等
            　 此外还有
                    实例方法／事件
                            ／DOM
                            /生命周期
        </textarea>
    </li>
</ul>
<h1>helloworld</h1>
<div id="app">
    {{message}}
    <input v-model="message">

    <ul>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ul>
    <br>
    <button v-on:click="reverMessage">rever message</button>
</div>
<h1>综合</h1>
<div id="app2">
    <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <ul>
        <li v-for="todo in todos">
            <span>{{todo.text}}</span>
            <button v-on:click="removeTodo($index)">X</button>
        </li>
    </ul>
</div>
<div id="example2">
    <p v-if="greeting">Hello!</p>

</div>


<h1>组件</h1>
<div id="app3">
    {{a}}
    <button v-on:click="aadd">a++</button>
</div>
<h1>生命周期</h1>
<img src="img/lifecycle.png" alt="sss" >





<script src="vue.js"></script>
<script>
//app3-----------------------------
    var data = { a: 1 }
    var vm = new Vue({
        el: '#app3',
        data: data,
        methods:{
            aadd:function(){
                this.a++;
            }
        },
        created: function () {
            // `this` 指向 vm 实例
            console.log("vm实例已经创建");
            console.log('a is: ' + this.a)
        }
    });

    console.log(vm.$data === data) // -> true
    console.log(vm.$el === document.getElementById('app3')); // -> true

    // $watch 是一个实例方法
    vm.$watch('a', function (newVal, oldVal) {
        // 这个回调将在 `vm.a`  改变后调用
        console.log("a值被修改");
        console.log('newVal',newVal);
        console.log("oldVal",oldVal);
    });

//----------------------------------------------------------------
    new Vue({
        el:'#app',
        data:{
            message:'hello vue.js!',
            todos:[{text:'1.xxxx'},
                    {text:'2.`111'},
                    {text:'3.1111'},
                    {text:'444444'}]
        },
        methods:{
            reverMessage:function(){
                this.message =  this.message.split('').reverse().join('');
//                console.log('this:',this);//Vue
            }
        }
    });
    new Vue({
        el:'#app2',
        data:{
            newTodo:'',
            todos:[{text:'1.xxxx'},
                {text:'2.`111'},
                {text:'3.1111'},
                {text:'444444'}]
        },
        methods:{
            addTodo:function(){
                var text= this.newTodo.trim();
                if(text){
                    this.todos.push({text:text});
                    this.newTodo='';
                }
            },
            removeTodo:function(index){
                this.todos.splice(index,1);
            }
        }

    });
    var exampleVM2 = new Vue({
        el: '#example2',
        data: {
            greeting: true
        }
    })
</script>
</body>
</html>